* {
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-image: url(/assets/images/bg.jpeg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #BEBADE;
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
    letter-spacing: normal;
}


#slideNavigation {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #252834b2;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(58, 77, 57, 0.1);
    transition: height 0.5s ease-in-out;
    z-index: 1;
    padding: 0;
    /* backdrop-filter: blur(5px); */

    @media screen and (max-width: 575px) {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px);
    }
}

#slideNavigation.slideMenu {
    height: 890px;
}

/* #slideNavigation.slideMenu::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 40px;
    width: 55px;
    height: 50px;
    background: #2b2792;
    border-radius: 10px;
    border: 1px solid #fff;
} */

h3 span {
    position: relative;
    color: #ffffff;
    padding-inline: 10px;
}

h3 span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a73d1;
    z-index: -1;
}

.glow-ring-bg {
    border: 0px solid transparent;
    border-top: 25px solid rgb(245 245 245 / 0%);
    border-right: 25px solid rgb(245 245 245 / 0%);
    border-radius: 46%;
    animation: spinGlow 4s linear infinite reverse;
    box-shadow: 0 0 60px rgb(171, 93, 196) inset;
    width: 700px;
    height: 700px;
    opacity: 0.5;
}

@keyframes spinGlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.glow-ring {
    border: 0px solid transparent;
    border-top: 15px solid rgb(245 245 245 / 0%);
    border-right: 15px solid rgb(245 245 245 / 0%);
    border-radius: 50%;
    animation: spinGlow 4s linear infinite reverse;
    box-shadow: 0 0 40px rgb(171, 93, 196) inset;
    opacity: 0.3;
}

@keyframes spinGlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}